<!DOCTYPE html>
<html>

{% include head.html %}

<body>

    {% include header.html %}

    <!-- Banner -->
    <section id="banner" class="major">
        <div class="inner">
            <header class="major">
                <h1>{{ page.landing-title }}</h1>
            </header>
            <div class="content">
                <p style="text-transform: uppercase;">{{ site.description }}</p>
            </div>
        </div>
    </section>

    <!-- Main -->
    <div id="main">

        <!-- One -->
<!--        {% include tiles.html %}-->

        <!-- Two -->
        <section id="two">
            <div class="inner">
                <header class="major">
                    <h2>Tickets</h2>
                </header>
                <p>
                    Thanks to everyone who came this year - hope you enjoyed the event as much as we did. Our team
                    get a real kick about hearing your feedback, so if you have any comments or feedback please
                    add a comment to <a href="https://www.facebook.com/HalloweenOnHillTop/posts/3034946050108918">this post</a> on our <a href="https://www.facebook.com/HalloweenOnHillTop">Facebook page</a>.
                </p>
                <p>See you again in 2022!</p>
                <p>{{ content }}</p>
            </div>
        </section>

    </div>

    {% include footer.html %}

</body>

</html>
